/* src/components/Auth/sidebar/Channels/ChannelComponent.css */

.ui.menu .item {
  color: rgb(180,180,185) !important;
}

.ui.menu .item.active {
  background: #1164A3 !important;
}

.sidebar-menu {
  margin-top: 35px;
}

.channel-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.sidebar-menu .channel-item:hover {
  background-color: #0f00e8; /* Improved hover background color */
}



.clickable:hover {
  cursor: pointer;
}
